<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study/blob/main/%EC%9E%91%EC%97%851%EC%9C%A0%ED%98%95(%EC%9C%A0%ED%8A%9C%EB%B8%8C%EA%B3%B5%EB%B2%94%EC%BB%A8%ED%85%90%EC%B8%A0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 출처 :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(참고, 데이터 수정)
데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)
dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [42]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### 11. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [43]:
video['ct'] = pd.to_datetime(video['ct'])
ans = video['videoname'].value_counts(0)
ans

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### 12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [44]:
video.head(3)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1

In [45]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

### 13. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [46]:
channel.head(3)

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹

In [47]:
channel['ct'] = pd.to_datetime(channel['ct'])

In [48]:
target = channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname'])
target

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
...,...,...,...,...,...,...
1273,UCs9H--14toIRdJQAD9qz9tA,469000,130097921,563,2021-11-01 15:01:05,곽토리 kwak tori
1019,UCOYhhfLMGY8OjsbfGNVf7Lw,9060,1414920,16,2021-11-01 15:01:05,김농밀의 농밀한 삶
1146,UCKOeR5Evsupc77nPL3qCMnw,21100,597680,8,2021-11-01 15:01:05,릴펄 Lilpearl
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger
130,UCkQCwnkQfgSuPTTnw_Y7v7w,1400000,440372648,746,2021-11-01 15:01:08,꽈뚜룹

In [49]:
target = channel[channel['ct'] >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
target

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹

In [50]:
ans = target[['channelname','subcnt']].reset_index(drop=True)
ans

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

### 14. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [61]:
end = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
end,start

(                     channelid   subcnt    viewcnt  videocnt  \
 130   UCkQCwnkQfgSuPTTnw_Y7v7w  1400000  440372648       746
 257   UCEI4rb8YldV8v0dVUSo9ToQ   268000   30724301        80
 384   UCqwNCDzQBfw2seMRJpL-RWg   323000   74542471       223
 511   UCDV9zgWo7b6nPg7i49oRQ5Q   911000  101255959        84
 638   UClu0udsIHkalM416ttWe_Zw    55000    4710150       107
 765   UCM9Rx3EqBJ-jMhD2E8Gjb4g   227000   16810097        64
 892   UCI9W73BWje69k7f1m_I4mbQ    25200     840670        47
 1019  UCOYhhfLMGY8OjsbfGNVf7Lw     9060    1414920        16
 1146  UCKOeR5Evsupc77nPL3qCMnw    21100     597680         8
 1273  UCs9H--14toIRdJQAD9qz9tA   469000  130097921       563
 1394  UCbBzKnCYcG7E3EIkSTdsawA    56800    7539876        57

                       ct      channelname
 130  2021-11-01 15:01:08              꽈뚜룹
 257  2021-11-01 15:01:03            야전삽짱재
 384  2021-11-01 15:01:03       츄정ChuJeong
 511  2021-11-01 15:01:04           논리왕 전기
 638  2021-11-01 15:01:04  와글와글 WagleWagle
 765  2021-11-01 15:01:04              조나단
 892  2021-11-01 15:01:04          형사!탐정되다
 1019 2021-11-01 15:01:05       김농밀의 농밀한 삶
 1146 2021-11-01 15:01:05      릴펄 Lilpearl
 1273 2021-11-01 15:01:05    곽토리 kwak tori
 1394 2021-11-01 15:01:07    Balming Tiger  ,
                      channelid   subcnt    viewcnt  videocnt  \
 12    UCkQCwnkQfgSuPTTnw_Y7v7w  1330000  414984078       738
 139   UCEI4rb8YldV8v0dVUSo9ToQ   257000   28415226        73
 266   UCqwNCDzQBfw2seMRJpL-RWg   322000   71955394       212
 393   UCDV9zgWo7b6nPg7i49oRQ5Q   922000   99187513        82
 520   UClu0udsIHkalM416ttWe_Zw    55000    4681137       107
 647   UCM9Rx3EqBJ-jMhD2E8Gjb4g   215000   15902641        60
 774   UCI9W73BWje69k7f1m_I4mbQ    14900     206221        49
 901   UCOYhhfLMGY8OjsbfGNVf7Lw     7520    1444890        15
 1028  UCKOeR5Evsupc77nPL3qCMnw    10100     188523        21
 1155  UCs9H--14toIRdJQAD9qz9tA   471000  128772621       548
 1276  UCbBzKnCYcG7E3EIkSTdsawA    54300    7050078        54

                       ct      channelname
 12   2021-10-03 03:01:04              꽈뚜룹
 139  2021-10-03 03:01:02            야전삽짱재
 266  2021-10-03 03:01:02       츄정ChuJeong
 393  2021-10-03 03:01:02           논리왕 전기
 520  2021-10-03 03:01:03  와글와글 WagleWagle
 647  2021-10-03 03:01:03              조나단
 774  2021-10-03 03:01:03          형사!탐정되다
 901  2021-10-03 03:01:03       김농밀의 농밀한 삶
 1028 2021-10-03 03:01:03      릴펄 Lilpearl
 1155 2021-10-03 03:01:04    곽토리 kwak tori
 1276 2021-10-03 03:01:04    Balming Tiger  )

In [62]:
end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

In [63]:
end_df

        channelname   subcnt
0               꽈뚜룹  1400000
1             야전삽짱재   268000
2        츄정ChuJeong   323000
3            논리왕 전기   911000
4   와글와글 WagleWagle    55000
5               조나단   227000
6           형사!탐정되다    25200
7        김농밀의 농밀한 삶     9060
8       릴펄 Lilpearl    21100
9     곽토리 kwak tori   469000
10    Balming Tiger    56800

In [64]:
end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']

In [69]:
end_df, start_df

(        channelname  end_sub
 0               꽈뚜룹  1400000
 1             야전삽짱재   268000
 2        츄정ChuJeong   323000
 3            논리왕 전기   911000
 4   와글와글 WagleWagle    55000
 5               조나단   227000
 6           형사!탐정되다    25200
 7        김농밀의 농밀한 삶     9060
 8       릴펄 Lilpearl    21100
 9     곽토리 kwak tori   469000
 10    Balming Tiger    56800,
         channelname  start_sub
 0               꽈뚜룹    1330000
 1             야전삽짱재     257000
 2        츄정ChuJeong     322000
 3            논리왕 전기     922000
 4   와글와글 WagleWagle      55000
 5               조나단     215000
 6           형사!탐정되다      14900
 7        김농밀의 농밀한 삶       7520
 8       릴펄 Lilpearl      10100
 9     곽토리 kwak tori     471000
 10    Balming Tiger      54300)

In [66]:
tt = pd.merge(start_df,end_df)
tt

        channelname  start_sub  end_sub
0               꽈뚜룹    1330000  1400000
1             야전삽짱재     257000   268000
2        츄정ChuJeong     322000   323000
3            논리왕 전기     922000   911000
4   와글와글 WagleWagle      55000    55000
5               조나단     215000   227000
6           형사!탐정되다      14900    25200
7        김농밀의 농밀한 삶       7520     9060
8       릴펄 Lilpearl      10100    21100
9     곽토리 kwak tori     471000   469000
10    Balming Tiger      54300    56800

In [70]:
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

### 15. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [71]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [72]:
video.loc[video['videoname'].str.contains('1')]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [73]:
ep = video.loc[video['videoname'].str.contains('1')].sort_values('ct').reset_index(drop=True)
ep

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [82]:
import datetime

ep[(ep['ct'].diff(1) >= datetime.timedelta(minutes=20))| \
   (ep['ct'].diff(1) <= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

### 16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [86]:
start_date = video.sort_values(['ct', 'videoname']).drop_duplicates('videoname')[['ct', 'videoname']]
start_date

                       ct videoname
10    2021-10-07 19:10:03    공범 EP1
3496  2021-10-09 19:10:03    공범 EP2
6696  2021-10-14 19:10:04    공범 EP3
9264  2021-10-16 19:10:04    공범 EP4
11544 2021-10-21 19:10:04    공범 EP5
13661 2021-10-23 19:10:04    공범 EP6
13106 2021-10-28 19:10:04    공범 EP7
14935 2021-10-30 19:20:04    공범 EP8

In [87]:
start_date['date'] = start_date['ct'].dt.date
start_date

                       ct videoname        date
10    2021-10-07 19:10:03    공범 EP1  2021-10-07
3496  2021-10-09 19:10:03    공범 EP2  2021-10-09
6696  2021-10-14 19:10:04    공범 EP3  2021-10-14
9264  2021-10-16 19:10:04    공범 EP4  2021-10-16
11544 2021-10-21 19:10:04    공범 EP5  2021-10-21
13661 2021-10-23 19:10:04    공범 EP6  2021-10-23
13106 2021-10-28 19:10:04    공범 EP7  2021-10-28
14935 2021-10-30 19:20:04    공범 EP8  2021-10-30

In [91]:
ans = start_date[['date', 'videoname']]
display(ans)

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

### 17. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [92]:
video['time'] = video['ct'].dt.hour
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16

In [95]:
ans = video.loc[video['time'] == 21].sort_values(['videoname', 'ct'])\
          .drop_duplicates('videoname')\
          .sort_values('viewcnt', ascending=False)[['videoname', 'viewcnt', 'ct']]\
          .reset_index(drop=True)
display(ans)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

### 18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [97]:
target = video.sort_values('ct').drop_duplicates('videoname', keep='last')
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15

In [98]:
target['ratio'] = target['dislikecnt'] / target['likecnt']
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357

In [99]:
ans = target.sort_values('ratio')[['videoname', 'ratio']].reset_index(drop=True)
display(ans)

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

### 19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [100]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

In [102]:
target = video.loc[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop=True)
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
0,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1,0
1,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,공범 EP1,0
2,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,공범 EP1,0
3,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,공범 EP1,0
4,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,공범 EP1,0
...,...,...,...,...,...,...,...,...,...
715,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,공범 EP8,14
716,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,공범 EP8,14
717,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,공범 EP8,14
718,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,공범 EP8,14
719,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,14

In [104]:
def check(x):
    result = max(x) - min(x)
    return result

ans = target[['videoname', 'viewcnt']].groupby('videoname').agg(check)
display(ans)

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

### 20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [105]:
ans = video.loc[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
result = ans[['videoname', 'ct']]
display(result)

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37